// Custom Theming for Angular Material
@use "@angular/material" as mat;

// Incluye los estilos comunes para Angular Material (solo una vez en el archivo).
@include mat.core();

// Default Theme (ahora usa los colores de Axity)
$default-primary: mat.m2-define-palette((
  50: #fff4d6,
  100: #ffe5a8,
  200: #ffd678,
  300: #fdc748,
  400: #fdbd24,
  500: #FDDA24,
  600: #e6c31f,
  700: #ccaa1a,
  800: #b39215,
  900: #80660d,
  A100: #ffffff,
  A200: #fff7e0,
  A400: #ffe0a3,
  A700: #ffd17a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
));

$default-accent: mat.m2-define-palette((
  50: #fee7e9,
  100: #fdc2c8,
  200: #fc9aa4,
  300: #fb7280,
  400: #fa5364,
  500: #f93549,
  600: #f83042,
  700: #f72839,
  800: #f62231,
  900: #f51621,
  A100: #ffffff,
  A200: #fff1f2,
  A400: #ffbec1,
  A700: #ffa5a8,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
));

$default-warn: mat.m2-define-palette(mat.$m2-red-palette);

$default-theme: mat.m2-define-light-theme((
  color: (
    primary: $default-primary,
    accent: $default-accent,
    warn: $default-warn,
  ),
));

@mixin custom-elements($theme) {
  .logo {
    background-image: url("../assets/img/axity-purple.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@include mat.all-component-themes($default-theme);
@include custom-elements($default-theme);

// Axity Theme (ahora usa los colores de Default)
.axity-theme {
  $axity-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
  $axity-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
  $axity-warn: mat.m2-define-palette(mat.$m2-red-palette);

  $axity-theme: mat.m2-define-light-theme((
    color: (
      primary: $axity-primary,
      accent: $axity-accent,
      warn: $axity-warn,
    ),
  ));

  @mixin custom-elements($theme) {
    .logo {
      background-image: url("../assets/img/axity-purple.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  @include mat.all-component-themes($axity-theme);
  @include custom-elements($axity-theme);
}

// Dark Theme (sin cambios)
.dark-theme {
  $dark-primary: mat.m2-define-palette(mat.$m2-blue-grey-palette);
  $dark-accent: mat.m2-define-palette(mat.$m2-amber-palette, A200, A100, A400);
  $dark-warn: mat.m2-define-palette(mat.$m2-deep-orange-palette);

  $dark-theme: mat.m2-define-dark-theme((
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
  ));

  @mixin custom-elements($theme) {
    body {
      background-color: #333333;
      color: white;
    }

    .logo {
      background-image: url("../assets/img/axity-white.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  @include mat.all-component-colors($dark-theme);
  @include custom-elements($dark-theme);
}
