<div class="container">
  <div class="row mt-3 box-menu">

    <div class="col-md-3 text-center">
      <button class="menu-custom-button" mat-raised-button color="primary" [routerLink]="['/users']">
        {{ "users.title" | translate }}
      </button>
    </div>

    <div class="col-md-3 text-center">
      <button class="menu-custom-button" mat-raised-button color="primary" [routerLink]="['/colors']" disabled>
        Frecuencia Productos
      </button>
    </div>
    <div class="col-md-3 text-center">
      <button class="menu-custom-button" mat-raised-button color="primary" [routerLink]="['/events']" disabled>
        Consultas
      </button>
    </div>
    
    <div class="col-md-3 text-center">
      <button class="menu-custom-button" mat-raised-button color="primary" [routerLink]="['/dashboard']" disabled>
        Seguimiento
      </button>
    </div>
  </div>
</div>
