<form class="d-flex flex-column gap-10" [formGroup]="formGroup">
  <mat-form-field appearance="outline">
    <mat-label>Id Usuario</mat-label>
    <input matInput type="text" formControlName="idUser" />
    <mat-error *ngIf="formGroup.get('idUser')?.hasError('required')">
      Campo requerido
    </mat-error>
    <mat-error *ngIf="formGroup.get('idUser')?.hasError('min')">
      Mínimo 1 caracter
    </mat-error>
    <mat-error *ngIf="formGroup.get('idUser')?.hasError('max')">
      Máximo 10 caracteres
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Nombre</mat-label>
    <input matInput type="text" formControlName="name" />
    <mat-error *ngIf="formGroup.get('name')?.hasError('required')">
      Campo requerido
    </mat-error>
    <mat-error *ngIf="formGroup.get('name')?.hasError('minlength')">
      Mínimo 4 caracteres
    </mat-error>
    <mat-error *ngIf="formGroup.get('name')?.hasError('maxlength')">
      Máximo 30 caracteres
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Cargo</mat-label>
    <mat-select formControlName="position">
      <mat-option value="1">Ingeniero</mat-option>
      <mat-option value="2">Arquitecto</mat-option>
    </mat-select>
    <mat-error *ngIf="formGroup.get('position')?.hasError('required')">
      Campo requerido
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Acceso</mat-label>
    <mat-select formControlName="accessLevel">
      <mat-option value="1">Ingeniero</mat-option>
      <mat-option value="2">Arquitecto</mat-option>
    </mat-select>
    <mat-error *ngIf="formGroup.get('accessLevel')?.hasError('required')">
      Campo requerido
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Dominio</mat-label>
    <mat-select formControlName="domain">
      <mat-option value="1">Cliente</mat-option>
      <mat-option value="2">Su...</mat-option>
    </mat-select>
    <mat-error *ngIf="formGroup.get('domain')?.hasError('required')">
      Campo requerido
    </mat-error>
  </mat-form-field>

  <div class="d-flex justify-content-end">
    <button mat-raised-button color="primary" [disabled]="formGroup.invalid || !formGroup.dirty" (click)="onSubmit()">
      Guardar
    </button>
  </div>
</form>