<div class="container mt">
  <div class="row">
    <div class="col-12 d-flex justify-content-end mb-2">
      <button mat-raised-button color="primary" [routerLink]="['/create']">
        {{ "users.create" | translate }}
      </button>
    </div>
    <div class="col">
      <table mat-table [dataSource]="data" class="mat-elevation-z8" aria-describedby="table-colors">
        <ng-container matColumnDef="id">
          <th scope="col" mat-header-cell *matHeaderCellDef>
            {{ "users.columns.idUser" | translate}}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th scope="col" mat-header-cell *matHeaderCellDef>
            {{ "users.columns.name" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.xuname }}</td>
        </ng-container>

        <ng-container matColumnDef="position">
          <th scope="col" mat-header-cell *matHeaderCellDef>
            {{ "users.columns.position" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.xucarg }}</td>
        </ng-container>

        <ng-container matColumnDef="domain">
          <th scope="col" mat-header-cell *matHeaderCellDef>
            {{ "users.columns.domain" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.xudom }}</td>
        </ng-container>

        <ng-container matColumnDef="accessLevel">
          <th scope="col" mat-header-cell *matHeaderCellDef>
            {{ "users.columns.accessLevel" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.xuacce }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th scope="col" mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button class="mr-2 me-2" mat-raised-button color="primary" [routerLink]="['/users', element.id]">
              <mat-icon>
                <span class="material-symbols-outlined">
                  edit
                </span>
              </mat-icon>
            </button>

            <button class="mr-2 me-2" mat-raised-button color="primary" [routerLink]="['/assign-area', element.id]">
              <mat-icon>
                <span class="material-symbols-outlined">
                  domain
                </span>
              </mat-icon>
            </button>

            <button mat-raised-button color="warn" (click)="deleteUser(element.id)">
              <mat-icon>
                <span class="material-symbols-outlined">
                  delete
                </span>
              </mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>